#Title
{
  background-color: #ff4c68;
}
.doge
{
  height: 350px;
width:350px;
}
.business
{
  height: 300px;
  width: 350px;
}
/*.navbar-brand
{
  margin-left: 10px;
  margin-right: 10px;
}*/
h1
{
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid
{
  padding:3% 15%;
}
.meet
{
  font-family:serif;
}
#Title
{
color: white;
}
.navbar-brand
{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
.navbar
{
  padding:0 0 4.5rem;
}
.nav-item
{
  padding: 0 18px;
}
.d-b
{
  margin: 5% 3% 5% 0;
}
.noob
{
  transform: rotate(30deg);
}
#features
{
  padding: 7% 15%;
}
.f-b
{
  text-align: center;
  padding: 0 100px;
}
p{
  color: #8f8f8f;
  font-weight: bold;
}
.fas
{
  color: #ef8172;
}
.fas:hover
{
  color: #ff4c68;
}
.table
{
  text-align: center;
  margin-bottom: 30px;
}
.p1
{
  color: black;
}
